@media all and (max-width: 10000px) {
	#Desktop-Only {
		visibility: visible;
		display: block;
	}

	#Mobile-Only {
		visibility: hidden;
		display: none;
	}
}


@media screen and (max-width: 480px) {
	#Desktop-Only {
		visibility: hidden;
		display: none;
	}

	#Mobile-Only {
		visibility: visible;
		display: block;
	}
}

.checked {
	color: orange;
}

table {
	margin-bottom: 0;
}

.rating-box {
	position: relative;
	vertical-align: middle;
	font-size: 3/3em;
	font-family: FontAwesome;
	display: inline-block;
	color: lighten(@grayLight, 25%);

	&:before {
		content: "\f006 \f006 \f006 \f006 \f006";
	}

	.rating {
		position: absolute;
		left: 0;
		top: 0;
		white-space: nowrap;
		overflow: hidden;
		color: #F68127;

		&:before {
			content: "\f005 \f005 \f005 \f005 \f005";
		}
	}
}

div.rating {
	font-family: FontAwesome;
	position: relative;
	display: inline-block;
}

div.rating:before {
	content: "\f006\f006\f006\f006\f006";
	color: Gray;
}

div.rating:after {
	color: orange;
	;
	position: absolute;
	left: 0;
}

.r-0:before {
	content: "" !important;
}

.r-05:after {
	content: "\f089\00a0";
}

.r-1:after {
	content: "\f005";
}

.r-15:after {
	content: "\f005\f089\00a0";
}

.r-2:after {
	content: "\f005\f005";
}

.r-25:after {
	content: "\f005\f005\f089\00a0";
}

.r-3:after {
	content: "\f005\f005\f005";
}

.r-35:after {
	content: "\f005\f005\f005\f089\00a0";
}

.r-4:after {
	content: "\f005\f005\f005\f005";
}

.r-45:after {
	content: "\f005\f005\f005\f005\f089\00a0";
}

.r-5:after {
	content: "\f005\f005\f005\f005\f005";
}



kbd {
	color: #FFF;
	background-color: lightblue;
}

pre {
	font-size: 15px;
	tab-size: 4;
	white-space: pre;
	/* font-weight: 800;
		  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;*/
}

.img-fluid {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}