<footer>
  <div class="footer--content nav--content__lg">
    <h6 class="logotype f-xxs"><a class="op-5" href="/">Signup For Pay</a></h6>

    <ul class="f-xxs f-bold">
        <li><a class="mr-3" href="/signup-bonus">Signup Bonus Offers</a></li>
      <li><a class="mr-3" href="/bank-bonus">Bank Bonus Offers</a></li>
      <li><a class="mr-3" href="/credit-card">Credit Offers</a></li>
      <li><a class="mr-3" href="/learn-more">Learn More</a></li>
      <!-- <li><a href="/about">About</a></li> -->
    </ul>
  </div>
</footer>
